@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e2e2e2;
}

:root {
  --progress-hp:0%;
  --progress-attack:0%;
  --progress-defense:0%;
  --progress-special-attack:0%;
  --progress-special-defense:0%;
  --progress-speed:0%;
  
}



/* * {
  outline: 1px solid green;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center-everything {
  @apply flex justify-center items-center;
}

.button-flex {
  @apply flex gap-2 px-2 py-2 bg-green-800 text-white justify-center items-center rounded hover:bg-green-900;
}

.stats-container {
  /* columns: 2; */
}

.move-container {
  display: flex;
  flex-direction: column;
}


.main__container{
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 80px;
 
  }

.dropdown-menu{
  transition: max-height 0.3s ease-in;
}

.sidebar-container{
 position: sticky;
 position: -webkit-sticky;
 top: 0; 
}